.studentdb{
    margin: 0;
    padding: 0;
    background-image: url();
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    background-repeat: no-repeat; 
    background-position-y: unset;
}



.label1 label{
    color:#e26251;
    margin: 20px;
    margin-top: 30px;;
}
.topnav1 {
    background-color: rgb(21, 127, 226);
    overflow: hidden;
  }
  h1{
    position: absolute;
    padding: 4px;
    float: left;
    margin-left: 15px;
    margin-top: 5px;
    color: rgb(241, 184, 184);
}

ul{
    width: auto;
    float: right;
    margin-top: 20px;
    
}

li{
    display: inline-block;
    margin-right: 20px;
    margin-left: 10px;
    padding: 15px, 10px;
    color: rgb(241, 184, 184);
}

a {
    text-align: center;
    color: #ffff;
    text-decoration: none;
    font-size: 1.2vw;
}

a:hover{
    color: rgb(35, 3, 77);
    transition: 0.5s;
}

.label1 input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    width: 70px;
    background: #fb2525;
    position: absolute;
    left: 37%;
    color: #fff;
    margin-top: 12px;
    font-size: 13px;
}

.label1 input[type="submit"]:hover{
    cursor:pointer ;
    background: rgb(15, 158, 15);
    color: #000
}

.label1 form{
    width: 280px;
    height: 300px;
    top: 15%;
    left: 10%;
    position: absolute;
    background-color: black;
    color: blanchedalmond;
    padding: 10px 20px;
    margin-top: 10%;
}

.label1 select{
    color: blanchedalmond;
    width: 70%;
    height: 40px;
    font-size: 20px;
    margin: 25px;
    border: 20px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid rgb(248, 247, 247);
}

.label1 option{
    color: black;
}

/*tables*/
table{
    width: 400px;
    margin-top: 80px;
    margin-right: 300px;
    border-spacing:0px;
    table-layout: fixed;
    text-align: center;
    border : 1px solid white;
    float: right;
    padding:10px;
    border-collapse: collapse;
}
th, td{
    border : 1px solid white;
    border-collapse: collapse;
    color:white;
    padding:15px;
    width: 200px;
    overflow: hidden;
}
thead{
    display: block;
    overflow-y: auto;
}
tbody{
    height: 500px;
    display: block;
    overflow-y: auto;
}