

/*schangepwd.html*/
.schangepwd 
{
    margin: 0;
    padding: 0;
    background: url(img/pic4.jpeg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    background-repeat: no-repeat;
    background-position-y: unset;
}

.scpwd
{
    width: 300px;
    height: 500px;
    background: black;
    color: whitesmoke;
    top: 60%;
    left: 70%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 20px 30px;

}

h2{
    margin: 0;
    padding: 10px 10px 10px;
    text-align: center;
    font-size: 25px;
}

.scpwd p{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 15px;
}

.scpwd input{
    width: 100%; 
    margin-bottom: 15px;

}
.scpwd input[type="password"]{
    border: none;
    border-bottom: 1px solid #ffff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 13px;
}

.scpwd input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    margin-top: 12px;
    font-size: 13px;
}

.scpwd input[type="submit"]:hover{
    cursor:pointer ;
    background: rgb(15, 158, 15);
    color: #000
}

.scpwd a{
    text-decoration: none;
    font-size: 13px;
    line-height: 20px;
    color: darkgray;
}

/*fchangepwd.html*/
.fchangepwd 
{
    margin: 0;
    padding: 0;
    background: url(img/pic4);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    background-repeat: no-repeat;
    background-position-y: unset;
}

.fcpwd
{
    width: 300px;
    height: 500px;
    background: black;
    color: whitesmoke;
    top: 60%;
    left: 70%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 20px 30px;

}

h1{
    margin: 0;
    padding: 20px 10px 10px;
    text-align: center;
    font-size: 35px;
}

.fcpwd p{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 15px;
}

.fcpwd input{
    width: 100%; 
    margin-bottom: 15px;

}
.fcpwd input[type="password"]{
    border: none;
    border-bottom: 1px solid #ffff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 13px;
}

.fcpwd input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    margin-top: 12px;
    font-size: 13px;
}

.fcpwd input[type="submit"]:hover{
    cursor:pointer ;
    background: rgb(15, 158, 15);
    color: #000
}

.fcpwd a{
    text-decoration: none;
    font-size: 13px;
    line-height: 20px;
    color: darkgray;
}

/*facultydb.html*/
.facultydb{
    margin: 0;
    padding: 0;
    background: url(img/pic2.jpeg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    background-repeat: no-repeat; 
    background-position-y: unset;
}

.facultydb iframe{
   
    background: black;
    color: whitesmoke;
    top: 90%;
    left: 47%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 5px 5px;
    
}

.label1 {
    top: 25%;
    left:35%;
    position: absolute;
    color: white;
}

.label1 label{
    font-size: 20px;
    color: rgb(198, 159, 230);
}

.label1 select{
    width: 40%;
    height: 30px;
    font-size: 20px;
    margin: 10px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid rgb(0, 0, 0);
}
.topnav1 {
    background-color: rgb(21, 127, 226);
    overflow: hidden;
  }
  .topnav {
    background-color: rgb(129, 86, 179);
    overflow: hidden;
  }
h1{
    position: absolute;
    padding: 4px;
    float: left;
    margin-left: 15px;
    margin-top: 5px;
    color: rgb(241, 184, 184);
}

ul{
    width: auto;
    float: right;
    margin-top: 20px;
    
}

li{
    display: inline-block;
    margin-right: 20px;
    margin-left: 10px;
    padding: 15px, 10px;
    color: rgb(241, 184, 184);
}

a {
    text-align: center;
    color: #ffff;
    text-decoration: none;
    font-size: 1.2vw;
}

a:hover{
    color: aquamarine;
    transition: 0.5s;
}
.label1 input[type="submit"]{
    border: none;
    outline: none;
    height: 44px;
    width: 70px;
    position: absolute;
    top: 110%;
    left: 50%;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    margin-top: 18px;
}

.label1 input[type="submit"]:hover{
    cursor:pointer ;
    background: rgb(15, 158, 15);
    color: #000
}

/*studentdb.html*/
.studentdb{
    margin: 0;
    padding: 0;
    background: url(img/pic2.jpeg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    background-repeat: no-repeat; 
    background-position-y: unset;
}

/*markattendance.html*/
.ma {
    color: rgb(102, 27, 27);
    background-color: rgb(201, 128, 80);
}

/*studentdb.html*/
.studentdb iframe{
    background: black;
    color: whitesmoke;
    top: 65%;
    left: 47%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 5px 5px;
    
}

.sr iframe{
    background-color: blanchedalmond;
}